[submodule "vim/.vim/pack/my-packages/start/vim-elixir"]
	path = vim/.vim/pack/my-packages/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
[submodule "i3/.config/i3blocks/i3blocks-contrib"]
	path = i3/.config/i3blocks/i3blocks-contrib
	url = git@github.com:Britaliope/i3blocks-contrib.git
	branch = britaliope
[submodule "urxvt/.urxvt/ext/resize-font"]
	path = urxvt/.urxvt/ext/resize-font
	url = https://github.com/simmel/urxvt-resize-font.git
